@model List<ClienteModel>



@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Imobiliaria Social Solutions</h1>
    <p>Sistema de Controle de Clientes</p>
</div>
<table class="table table-success table-striped">
    <h1 class="display-4">Clientes</h1>
    <p class="nav-item">
        <a class="btn btn-primary" asp-area="" asp-controller="Cliente" asp-action="Criar">Novo Cliente</a>

    </p>
    <thead>
        <tr>
            <th scope="col">Identificação</th>
            <th scope="col">Status Cliente</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ClienteModel cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.Id</th>
                    <th scope="row">@cliente.Status</th>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.CPF</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" role="button" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar">Editar</a>
                            <a class="btn btn-danger" role="button" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
        <tr>
            <th scope="row">1</th>
            <th scope="row">Inativo</th>
            <td>Maria</td>
            <td>maria@maria</td>
            <td>000.000.000-10</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <th scope="row">Ativo</th>
            <td>José </td>
            <td>Jose@josé </td>
            <td>000.000.000-10</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" role="button" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                </div>
            </td>
        </tr>
    </tbody>

</table>
<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>

